@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: max-content;
  margin: 0;
  background: white;
  scale: 1;
  padding: 20px;
}
.box{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
}
.container{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  width: 500px;
  height: 500px;
}
#circle-container{
  top: 0;
  left: 0;
}
#sine-container{
  top: 0;
  left: 600px;
}
#circle{
  grid-row-start: 1;
  grid-column-start: 1;
  background: linear-gradient(to bottom, #00ffff, #ff00ff);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  animation: spin 5s linear infinite;
}

#bar{
  position: relative;
  grid-row-start: 1;
  grid-column-start: 1;
  width: 500px;
  height: 1px;
  box-shadow: 0 0 0 5px black;
  z-index: 5;
  background-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dot{
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px red;
  background-color: red;
  z-index: 30;
}

.sine-element{
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  z-index: 20;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
