* {
    font-family: "Martian Mono", monospace;
  }
  body,
  html {
    margin: 0;
    padding: 0;
  }
  h1 {
    color: black;
    width: 100%;
    text-align: center;
  }
  h2 {
    flex: 2;
    text-align: center;
  }
  td {
    text-align: center;
  }
  thead * {
    text-decoration: underline;
  }
  .box {
    flex: 1;
    padding: 10px;
    margin: 10px;
    border: 5px black solid;
  }
  .clickable{
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    background-color: white;
    font-size: medium;
  }
  .clickable:hover {
    box-shadow: 5px 5px black;
    transform: translate(-5px, -5px);
  }
  .clickable:active{
    box-shadow: none;
    transform: none;
    transition-duration: 30ms;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .column {
    display: flex;
    flex-direction: column;
  }