#site-header {
  background-color: lightgreen;
}
#nav-form {
  display: flex;
  justify-content: space-evenly;
}
#site-content-1 {
  background-color: lightcoral;
}
#site-content-2 {
  background-color: lightyellow;
  align-items: center;
  justify-content: space-evenly;
}
#login-form {
  flex: 2;
}
#register-btn {
  background-color: lightgreen;
  min-width: fit-content;
}

#site-content-3 {
  background-color: lightsteelblue;
}
.form-field {
  background-color: white;
  justify-content: space-evenly;
  gap: 10px;
  flex: 2;
}
.form-input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}